### Cumulative Operations using itertools

Get cumulative sales from list of transactions.

In [1]:
# Cumulative totals [1, 3, 6, 10]
# Cumulative product [1, 2, 3, 24]
ns = [1, 2, 3, 4]

In [2]:
import itertools as iter

In [3]:
iter.accumulate?

In [4]:
iter.accumulate(ns)

In [5]:
list(iter.accumulate(ns))

[1, 3, 6, 10]

In [6]:
import operator as o
list(iter.accumulate(ns, o.mul))

[1, 2, 6, 24]

In [7]:
sales = [
    (202101, 10500),
    (202102, 11250),
    (202103, 13450),
    (202104, 8500),
    (202105, 9250),
    (202106, 8760),
    (202107, 12150),
    (202108, 11850),
    (202109, 10950),
    (2021010, 9250),
    (2021011, 14250),
    (2021012, 13650)    
]

In [8]:
iter.accumulate?

In [9]:
sales

[(202101, 10500),
 (202102, 11250),
 (202103, 13450),
 (202104, 8500),
 (202105, 9250),
 (202106, 8760),
 (202107, 12150),
 (202108, 11850),
 (202109, 10950),
 (2021010, 9250),
 (2021011, 14250),
 (2021012, 13650)]

In [10]:
sale_months = map(lambda sale: sale[0], sales)

In [11]:
list(sale_months)

[202101,
 202102,
 202103,
 202104,
 202105,
 202106,
 202107,
 202108,
 202109,
 2021010,
 2021011,
 2021012]

In [12]:
sale_revenues = map(lambda sale: sale[1], sales)

In [13]:
sale_revenues

In [14]:
list(sale_revenues)

[10500,
 11250,
 13450,
 8500,
 9250,
 8760,
 12150,
 11850,
 10950,
 9250,
 14250,
 13650]

In [15]:
cumulative_revenues = list(iter.accumulate(map(lambda sale: sale[1], sales)))

In [16]:
cumulative_revenues

[10500,
 21750,
 35200,
 43700,
 52950,
 61710,
 73860,
 85710,
 96660,
 105910,
 120160,
 133810]

In [17]:
sale_months = map(lambda sale: sale[0], sales)
sale_revenues = map(lambda sale: sale[1], sales)
cumulative_revenues = list(iter.accumulate(map(lambda sale: sale[1], sales)))
list(zip(sale_months, cumulative_revenues))

[(202101, 10500),
 (202102, 21750),
 (202103, 35200),
 (202104, 43700),
 (202105, 52950),
 (202106, 61710),
 (202107, 73860),
 (202108, 85710),
 (202109, 96660),
 (2021010, 105910),
 (2021011, 120160),
 (2021012, 133810)]