## Exercises - Sorting lists and sets

Let us perform few exercises to sort lists and sets.

### Exercise - 1 - Sort Players by name

Sort famous players bt their name. The list contains comma separated strings with player name followed by the sport they play.

In [25]:
famous_players = [
    'Pete Sampras,Tenis',
    'Sachin Tendulkar,Cricket',
    'Brian Lara,Cricket',
    'Diego Maradona,Soccer',
    'Roger Federer,Tennis',
    'Ian Thorpe,Swimming',
    'Ronaldo,Soccer',
    'Usain Bolt,Badminton',
    'P. V. Sindhu,Badminton',
    'Shane Warne,Cricket',
    'David Beckham,Soccer',
    'Michael Phelps,Swimming'
]

In [3]:
# Your code should go here
sorted(famous_players)

['Brian Lara,Cricket',
 'David Beckham,Soccer',
 'Diego Maradona,Soccer',
 'Ian Thorpe,Swimming',
 'Michael Phelps,Swimming',
 'P. V. Sindhu,Badminton',
 'Pete Sampras,Tenis',
 'Roger Federer,Tennis',
 'Ronaldo,Soccer',
 'Sachin Tendulkar,Cricket',
 'Shane Warne,Cricket',
 'Usain Bolt,Badminton']

* Here is the desired output.

[
 'Brian Lara,Cricket',
 
 'David Beckham,Soccer',
 
 'Diego Maradona,Soccer',
 
 'Ian Thorpe,Swimming',
 
 'Michael Phelps,Swimming',
 
 'P. V. Sindhu,Badminton',
 
 'Pete Sampras,Tenis',
 
 'Roger Federer,Tennis',
 
 'Ronaldo,Soccer',
 
 'Sachin Tendulkar,Cricket',
 
 'Shane Warne,Cricket',
 
 'Usain Bolt,Badminton']

### Exercise 2 - Sort Players by sport and the by name

Sort famous playres by the sport name. The list contains comma separated strings with player name followed by the sport they play. You need to sort the data by sport and then with in each sport you need to sort by name of the player.

**The process of sorting data on multiple attributes is know as composite sorting. This is an exercise related to composite sorting based on 2 fields.**

In [38]:
famous_players = [
    'Pete Sampras,Tenis',
    'Sachin Tendulkar,Cricket',
    'Brian Lara,Cricket',
    'Diego Maradona,Soccer',
    'Roger Federer,Tennis',
    'Ian Thorpe,Swimming',
    'Ronaldo,Soccer',
    'Usain Bolt,Badminton',
    'P. V. Sindhu,Badminton',
    'Shane Warne,Cricket',
    'David Beckham,Soccer',
    'Michael Phelps,Swimming'
]

In [62]:
# Your code should go here
ply = famous_players[0]

In [ ]:
ply.split(',')

In [59]:
plya = ply.split(',')

In [61]:
sorted(famous_players, key=lambda ply: ply.split(',')[1])

['Usain Bolt,Badminton',
 'P. V. Sindhu,Badminton',
 'Sachin Tendulkar,Cricket',
 'Brian Lara,Cricket',
 'Shane Warne,Cricket',
 'Diego Maradona,Soccer',
 'Ronaldo,Soccer',
 'David Beckham,Soccer',
 'Ian Thorpe,Swimming',
 'Michael Phelps,Swimming',
 'Pete Sampras,Tenis',
 'Roger Federer,Tennis']

* Here is the desired output.

['Usain Bolt,Badminton',
 'P. V. Sindhu,Badminton',
 'Sachin Tendulkar,Cricket',
 'Brian Lara,Cricket',
 'Shane Warne,Cricket',
 'Diego Maradona,Soccer',
 'Ronaldo,Soccer',
 'David Beckham,Soccer',
 'Ian Thorpe,Swimming',
 'Michael Phelps,Swimming',
 'Pete Sampras,Tenis',
 'Roger Federer,Tennis']

### Exercise 3 - Sort inventory by quantity

Sort the set of inventory by quantity. Each element of the set is of type string where we have inventory item and corresponding quantity separated by:

   * Please not that, quantity is missing for couple of items.
   * Data should be sorted in ascending order by quantity numerically.
   * The items with missing quantity should come on top.

In [1]:
inventory = {
    'almond milk:5',
    'cake mix:50',
    'cardamom:2',
    'cashews:',
    'pistachios:3',
    'rice:50',
    'sugar:10',
    'vegetable oil:',
    'wheat:300'
    
}

In [17]:
for e in sorted(inventory):
    print(e)

almond milk:5
cake mix:50
cardamom:2
cashews:
pistachios:3
rice:50
sugar:10
vegetable oil:
wheat:300

### Exercise 4 - Sorting by Number of Enrollments

Let us sort the data by number of enrollments in descending order.

   * We have list of courses. Each course have several attribute values which are comma separated or delimited.
   * Here is an example for one course. Each course record is of type string.
   ```json
    '1,2020 Complete Python Bootcamp: From Zero to Hero in Python,Beginner,1100093,4.6,318066'
   ```
   * We have course ide, course title, suitable for or level (3rd attribute), number of enrollments (4th attribute), cumulative rating and then number of ratings for each course.
   * We need to sort the data based on number of enrollments in descending order.

In [5]:
corses = [
    '1,2020 Complete Python Bootcamp: From Zero to Hero in Python,Begineer,1100093,4.6,318066',
    '4,Angular - The Complete Guide (2020 Edition),Intermediate, 422557,4.6,129984',
    '12,Automate the Boring Stuff with Python Programming,Advanced,692617,4.6,70508',
    '10,Complete C# Unity Game Developer 2D,Advanced,364934,4.6,78989',
    '5,Java Programming Masterclass for Software Developers,Advanced,502572,4.6,123798',
    '15,Learn Python Programming Masterclass,Advanced,240790,4.5,58677',
    '3,Machine Learning A-Z: hands-On Python & R In Data Science,Intermediate,692812,4.5,132228',
    '14,Modern React with Redux [2020 Update],Intermediate,203214,4.7,60835',
    '8,Python for Data Science and Machine Learning Bootcamp,Intermediate,387789,4.6,87403',
    '18,Selenium WebDriver with Java - Basics to Advanced+Frameworks,Advanced,148562,4.6,49947',
    '21,Spring & Hibernate for Begineers (includes Spring Boot),Advanced,177053,4.6,45329',
    '7,The Complete 2020 Web Development Bootcamp,Beginner,270656,4.7,88098',
    '9,The Complete JavaScript Course 2020: Build Real Projects!,Intermediate,347979,4.6,83521',
    '16,The Complete Node.js Developer Course (3rd Edition),Advanced,202922,4.7,50885',
    '13,The Complete Web Developer Course 2.0,Intermediate,273598,4.5,63175',
    '11,The Data Science Course 2020: Complete Data Science Bootcamp,Beginner,325047,4.5,76907',
    '20,The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert,Beginner,203366,4.6,45382',
    '2,The Web Developer Bootcamp,Begineer,596726,4.6,182',
    '19,',
    '17,'
]

In [6]:
sorted(corses)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '01,2020 Complete Python Bootcamp: From Zero to Hero in Python,Begineer,1100093,4.6,318066',
 '03,Machine Learning A-Z: hands-On Python & R In Data Science,Intermediate,692812,4.5,132228',
 '04,Angular - The Complete Guide (2020 Edition),Intermediate, 422557,4.6,129984',
 '05,Java Programming Masterclass for Software Developers,Advanced,502572,4.6,123798',
 '07,The Complete 2020 Web Development Bootcamp,Beginner,270656,4.7,88098',
 '08,Python for Data Science and Machine Learning Bootcamp,Intermediate,387789,4.6,87403',
 '10,Complete C# Unity Game Developer 2D,Advanced,364934,4.6,78989',
 '12,Automate the Boring Stuff with Python Programming,Advanced,692617,4.6,70508',
 '14,Modern React with Redux [2020 Update],Intermediate,203214,4.7,60835',
 '15,Learn Python Programming Masterclass,Advanced,240790,4.5,58677',
 '18,Selenium WebDriver with Java - Basics to Advanced+Frameworks,Advanced,148562,4.6,49947',
 '21,Spring & Hibernate for Begineers (includes Spring Boot),Advanced,177053,4.6,45329']