## Dict Comprehensions

Let us see how we can process Python collections using dict comprehensions.
  
   * We will be using orders data set which wiil be available by running notebook related to preparing data sets.
   * We will see how to get a dict comprehensions. The outuputshould contain key value pairs for each order where order_id is key and order_customer_id is the value.

In [ ]:
%run 07_preparing_data_sets.ipynb

In [ ]:
orders[:10]

In [ ]:
len(orders)

In [ ]:
order_customers = {int(order.split(',')[0]): int(order.split(',')[2]) for order in orders}

In [ ]:
type(order_customers)

In [ ]:
order_customers

In [ ]:
order_customers[1]

In [1]:
employees = [
    '1,ktrett0@independent.co.uk,6998.95',
    '2,khaddock1@deviantart.com,10572.4',
    '3,ecraft2@dell.com,3967.35',
    '4,drussam3@t-online.de,17672.44',
    '5,graigatt4@github.io,11660.67',
    '6,bjaxon5@salon.com,18614.93',
    '7,araulstone6@list-manage.com,11550.75',
    '8,mcobb7@mozilla.com,17016.15',
    '9,grobardley8@unesco.org,14141.25',
    '10,bbuye9@vkontakte.ru,12193.2'
]

In [2]:
highest_salaried_employees = {
    int(employee.split(',')[0]): float(employee.split(',')[2])
    for employee in employees
    if float(employee.split(',')[2]) > 10000
}

In [3]:
highest_salaried_employees

{2: 10572.4,
 4: 17672.44,
 5: 11660.67,
 6: 18614.93,
 7: 11550.75,
 8: 17016.15,
 9: 14141.25,
 10: 12193.2}