## Write Delimited Strings into Files

Let us understand how to write delimited strings into files. We will start with a collection or list of tuples and see how to convert to delimited strings before writing to a file.

Here are the steps involved to write list of tuples into file as delimited strings.

* Convert the list of tuples into list of delimited strings.
* Open the file in write mode using `w` (overwrite) or `a` (append).
* Add the data into the file.
* Ensure that the data in the file is validated.

In [1]:
orders = [(1,'2013-07-25 00:00:00.0', 11599, 'CLOSED'),
          (2,'2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT'),
          (3,'2013-07-25 00:00:00.0', 1211, 'COMPLETE'),
          (4,'2013-07-25 00:00:00.0', 8827, 'CLOSED'),
          (5,'2013-07-25 00:00:00.0', 11318, 'COMPLETE'),
          (6,'2013-07-25 00:00:00.0', 7130, 'COMPLETE'),
          (7,'2013-07-25 00:00:00.0', 4530, 'COMPLETE'),
          (8,'2013-07-25 00:00:00.0', 2911, 'PROCESSING'),
          (9,'2013-07-25 00:00:00.0', 5657, 'PENDING_PAYMENT'),
          (10,'2013-07-25 00:00:00.0', 5648, 'PENDING_PAYMENT')
         ]

In [2]:
type(orders)

list

In [3]:
orders[0]

(1, '2013-07-25 00:00:00.0', 11599, 'CLOSED')

In [4]:
type(orders[0])

tuple

In [5]:
order = orders[0]

In [6]:
str.join?

In [7]:
# Throws error as first and third elements are of type int
','.join(order)

TypeError: sequence item 0: expected str instance, int found

In [8]:
[str(item) for item in order]

['1', '2013-07-25 00:00:00.0', '11599', 'CLOSED']

In [9]:
# Converting all the items in tuple to strings using list comprehension
','.join([str(item) for item in order])

'1,2013-07-25 00:00:00.0,11599,CLOSED'

In [10]:
list(map(lambda item: str(item), order))

['1', '2013-07-25 00:00:00.0', '11599', 'CLOSED']

In [11]:
# Converting all the items in tuple to strings using map function
','.join(map(lambda item: str(item), order))

'1,2013-07-25 00:00:00.0,11599,CLOSED'

In [12]:
orders

[(1, '2013-07-25 00:00:00.0', 11599, 'CLOSED'),
 (2, '2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT'),
 (3, '2013-07-25 00:00:00.0', 1211, 'COMPLETE'),
 (4, '2013-07-25 00:00:00.0', 8827, 'CLOSED'),
 (5, '2013-07-25 00:00:00.0', 11318, 'COMPLETE'),
 (6, '2013-07-25 00:00:00.0', 7130, 'COMPLETE'),
 (7, '2013-07-25 00:00:00.0', 4530, 'COMPLETE'),
 (8, '2013-07-25 00:00:00.0', 2911, 'PROCESSING'),
 (9, '2013-07-25 00:00:00.0', 5657, 'PENDING_PAYMENT'),
 (10, '2013-07-25 00:00:00.0', 5648, 'PENDING_PAYMENT')]

In [13]:
orders_csv = map(lambda order: ','.join(map(lambda item: str(item), order)), orders)

In [14]:
list(orders_csv)

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,1211,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']

In [15]:
orders_csv = map(lambda order: ','.join(map(lambda item: str(item), order)), orders)
order = list(orders_csv)[0]
order

'1,2013-07-25 00:00:00.0,11599,CLOSED'

* Writing CSV strings one at a time to the file.

In [ ]:
!rm -rf data/retail_db/orders

In [ ]:
!mkdir -p data/retail_db/orders

In [ ]:
orders_file = open('data/retail_db/orders/part-00000', 'w')

In [ ]:
orders_csv = map(lambda order: ','.join(map(lambda item: str(item), order)), orders)

for order in orders_csv:
    orders_file.write(f'{order}\n')

In [ ]:
orders_file.close()

* Writing as one big string. As we are opening the file using `w`, the file will be truncated. It means the contents of the file will be overwritten with the string we are trying to write to the file.

In [ ]:
orders_csv = map(lambda order: ','.join(map(lambda item: str(item), order)), orders)

In [ ]:
orders_string = '\n'.join(orders_csv)

In [ ]:
orders_string

In [ ]:
orders_file = open('data/retail_db/orders/part-00000', 'w')

In [ ]:
orders_file.write(order_string)

In [ ]:
orders_file.close()